In [8]:
import pandas as pd
from pathlib import Path
from datetime import datetime

In [3]:
turbine_df = pd.read_csv(Path.cwd().joinpath('turbine.csv'))

In [4]:
turbine_df.head()

   Time    Tb_model    Tb_mod_n
0   400  135.846418  135.786618
1   401  136.103969  135.972447
2   402  136.382627  136.180822
3   403  136.309822  136.065876
4   404  136.251664  135.965164

In [24]:
for index, row in turbine_df.iterrows():
    print (';'.join((str(datetime.strftime(datetime.now(), '%c')), str(row['Tb_model']), str(row['Tb_mod_n']))))
    break

Mon Sep 13 20:28:57 2021,135.8464185,135.7866183